/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-07-13, 21:06:23
    Author     : Pawel.Kowalski
*/
* {
    margin: 0px;
    padding: 0px;
}

h1 {    
    font-size: 3em;
    line-height: 1.5em;
    color: rgba(79, 79, 79, 1);
}

h2 {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.5em;
}

h3 {
    font-size: 1.3em;
    line-height: 1.5em;
}

.page-wraper a, .page-wraper a:visited {
    text-decoration: none;
    color: #4f4f4f;
    font-variant: small-caps;
}

.page-wraper a:hover {
    color: #c71818;
}

.page-wraper .header-top a.ui-link.ui-widget:hover {
    color: #4f4f4f;
}

.page-wraper .ui-widget {
    font-family: "Palatino Linotype";
    font-size: 1em;
}

.page-wraper .ui-widget-content {
    border: none;
}

.page-wraper .ui-inputfield {
    padding: 6px 12px;
    box-shadow: none;
    border-radius: 0px;
    font-size: 0.9em;
    color: #4f4f4f;
    border: 1px solid rgba(79, 79, 79, 0.4);
}

.page-wraper .ui-inputfield:focus {
    box-shadow: none;
}

.page-wraper .container {
    font-family: "Palatino Linotype";
    width: 1170px;
    margin: auto;
    color: #4f4f4f;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.page-wraper .header-top {
    text-align: right;
    font-size: 0.75em;
    font-variant: small-caps;
    border-bottom: 1px dotted rgba(79, 79, 79, 0.5);
    padding: 7px 0px;
}

.page-wraper .header-top a.ui-link.ui-widget {
    color: rgba(79,79,79,0.5);
}

.page-wraper .header-title {
    padding: 30px 0px;
}

.page-wraper .header-title .ui-g-3 {
    margin: auto;
}

.page-wraper .header-title .ui-g-9 {
    padding-left: 45px;
}

.page-wraper .header-title .ui-inputfield {
    border-right: 0px;
    width: 70%;
}

.page-wraper .header-title button {
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    background: none;
    border: 1px solid rgba(79,79,79,0.4);
    border-left: none;
    font-size: 0.9em;
    color: rgba(79, 79, 79, 0.5);
}

.page-wraper .header-title button:focus {
    outline: none;
}

.page-wraper .header-title button .ui-button-text.ui-c {
    padding: 6px 1px;
}

.page-wraper .header-title h1 {
    font-family: Papyrus;
}

.page-wraper .page-menu {
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgba(79, 79, 79, 0.5);
    outline-width: 1px;
    outline-offset: 2px;
    outline-style: solid;
    outline-color: rgba(79, 79, 79, 0.5);
}

.page-wraper .menu {
    font-variant: small-caps;
    text-align: center;
}


.page-wraper .title {
    width: 100%;
    padding: 25px 0px;
}

.page-wraper .title h2 {
    text-align: center;
    position: relative;
    clear: both;    
}

.page-wraper .title h2:before {
    content: "";
    width: 100%;
    position: absolute;
    border-top: 1px solid rgba(79,79,79,0.5);
    top: 50%;
    left: 0px;
    max-height: 1px;
    z-index: 1;
}

.page-wraper .title h2 span {
    display: inline-block;
    background: white;
    position: relative;
    z-index: 2;
    padding: 0px 20px;
}

.page-content {
    width: 918px;
    float: left;
}

.page-content-right {
    float: left;
    width: 250px;
}

article {
    padding-left: 120px;
    position: relative;
    padding-right: 50px;
}

article .post-date {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    padding: 10px;
    width: 80px;
    height: 85px;
    border: 1px solid #e6e6e6;
    background: white;
    box-sizing: border-box;   
}

article .post-images img {
    width: 100%;
}

article .post-date .post-day {
    text-align: center;
    color: #000;
    font-size: 18px;
    display: block
}

article .post-date .post-month, 
article .post-date .post-year {
    font-size: 11px;
    text-align: center;
    display: block;
}

article .post-title {
    display:block;
}

article .post-line {
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 1px solid #e6e6e6;
    left: 40px;
    top: 0
}

article .clear {
    width: 100%;
    padding: 15px 0px;
    position: relative;
    text-align: center;
}

article .breake-line {
    width: 65%;
    border: 1px solid #e6e6e6;
    text-align: left;
}



